.jumbotron {
    text-align: center;
    background-color: #12ABE3;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background-color: #12ABE3;
    padding-top: 35px;
    padding-bottom: 35px;
}

body {  
    background-image: url(../css/circle\ of\ kids.png);
    background-attachment: fixed;
}
button {
    border-radius: 8px;
    margin: 8px;
}
.btn {
    color: black;
    padding: 15px 32px;
    font-weight: bolder;
}
#buttons-view {
    display: block;
    width: 316px;
}

#navList{
    margin-left: 5%;
}

.nav-link.active{
    cursor: pointer;
}

.nav-link.disabled{
    background-color: darkGray;
}

.sectionGroup{
    min-height: 100px;
    margin-left: 5%;
    width: 90%;
    background-color: white;
}

.sectionHidden{
    display: none;
}

.insuranceSectionLetter{
    display: inline-block;
    padding: 5px;
    color: lightblue;
    cursor: pointer;
}

.insurer{
    width: fit-content;
    position: relative;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.subInsurer{
    width: fit-content;
    position: relative;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.nextBTN{
    display: none;
}

.skipBTN{
    display: none;
}