.jumbotron-sm {
    text-align: center;
    background-image: url(../css/circle\ of\ kids.png);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
    padding-bottom: 47px;
    margin-bottom: 35px;
    background-size: contain;
}
.container{
    background-color: #12ABE3;
    padding-top: 35px;
    padding-bottom: 35px;
}

body {  
    background-color: #12ABE3;
    background-attachment: fixed;
}
button {
    border-radius: 8px;
    margin: 8px;
}
.btn {
    color: black;
    padding: 15px 32px;
    font-weight: bolder;
}
#buttons-view {
    display: block;
    width: 316px;
}

#navList{
    margin-left: 5%;
}

.nav-link.active{
    cursor: pointer;
}

.nav-link.disabled{
    background-color: darkGray;
}

li{
    margin-right: 10px;
}

.sectionGroup{
    min-height: 100px;
    margin-left: 5%;
    width: 90%;
    background-color: white;
}

.sectionHidden{
    display: none;
}

.sectionDisplayed{
    display: block;
}

.insuranceSectionLetter{
    display: inline-block;
    padding: 5px;
    color: red;
    cursor: pointer;
}

.insuranceNoLetter {
    display: inline-block;
    padding: 5px;
    color: lightblue;
}

.symptomSectionLetter{
    display: inline-block;
    padding: 5px;
    color: red;
    cursor: pointer;
}

.symptomNoLetter {
    display: inline-block;
    padding: 5px;
    color: lightblue;
}
.specialistSectionLetter{
    display: inline-block;
    padding: 5px;
    color: red;
    cursor: pointer;
}
.specialistNoLetter {
    display: inline-block;
    padding: 5px;
    color: lightblue;
}

.insurer{
    width: fit-content;
    position: relative;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.subInsurer{
    width: fit-content;
    position: relative;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.symptomItem{
    width: fit-content;
    position: relative;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.specialistItem{
    width: fit-content;
    position: relative;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.nextBTN{
    display: none;
}

.skipBTN{
    display: none;
}

#userZip{
    display: inline-block;
    width: 150px;
}

#map{
    height: 300px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 25px;
}

#findADoctorSection{
    padding-bottom: 20px;
}

#findADoctorGoogleMap{
    padding-bottom: 25px;
}

#findADoctorList{
    width: 90%;
    margin-left: 5%;
}
.doctorHeader{
    padding-top: 10px;
}
.docResult{
    border: 2px solid lightblue;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.card {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: -15px;
    margin-bottom: -47px;
}